<h2>衛教專區上傳</h2>
編號:<input type="text" id="HeId"/>
<button id="G">確定上傳</button>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#G').click(function () {
                alert("你要上傳");
            });
        });
        </script>
    }