  
<br/><br /><br /><br />
<h5>@TempData["Msg2"]</h5>
<div id="VuePage">
    <!--使用 Bootstrap 設計註冊表單-->
    <div class="panel panel-primary">
        <div class="panel-heading">註冊頁面</div>
        <div class="panel-body">
            <form action="/Home/GoRegister" method="post">
                <div class="form-group">
                    <label>帳號</label>
                    <input type="text" name="UserId" class="form-control" placeholder="請輸入帳號">
                </div>
                <div class="form-group">
                    <label for="userPwd">密碼</label>
                    <input type="password" name="UserPwd" class="form-control" placeholder="請輸入密碼" >
                </div>
                <div class="form-group">
                    <label for="userPhone">電話</label>
                    <input type="text" name="UserPhone" class="form-control" placeholder="請輸入電話">
                </div>
                <div class="form-group">
                    <label for="userName">姓名</label>
                    <input type="text" name="UserName" class="form-control" placeholder="請輸入姓名">
                </div>
                <div class="form-group">
                    <label for="userEmail">Email</label>
                    <input type="email" name="UserEmail" class="form-control" placeholder="請輸入電子郵件">
                </div>
                <div class="form-group">
                    <label for="userAllergens">過敏藥物</label>
                    <textarea name="UserAllergens" class="form-control" placeholder="請輸入過敏藥物" rows="4"></textarea>
                </div>

                <button type="submit" class="btn btn-warning">註冊</button>
            </form>

            <br />
            <!-- 藍色登入按鈕 -->
            @Html.ActionLink("返回登入", "Login", "Home", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

<!--錯誤訊息模態框-->
<div class="modal fade" id="ErrorAlert" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">錯誤訊息</h4>
            </div>
            <div class="modal-body" id="ErrorMsg" style="overflow-x:auto;width:100%;">
                <!-- 錯誤消息內容 -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
